/*******************************
         Site Overrides
*******************************/
@import '../components/dragula.import.less';
@import '../components/swiper.import.less';
@import '../components/imgal.import.less';
@import '../components/react-widgets.import.less';

body {
    background-color: @bgColor;
}

div.mainText {
    img {
        max-width: 100%;
        height: auto !important;
    }
}

.go-compare {
    font-weight: 400;
    font-size: 1.2rem;
    color: rgb(255, 255, 255);
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    padding: 8px;
}