/*******************************
     User Global Variables
*******************************/
@import "../components/palette.import.less";

@cornerHeight: 100px;

@imagePath : 'http://piterbeer.com/packages/mcore/assets/images';
@fontPath : 'http://piterbeer.com/packages/mcore/assets/fonts';

@bgColor:         white;
@primaryGreen:    #225501;
@secondaryGreen:  #6e9800;
@primaryYellow:   #fadc44;
@secondaryYellow: #f2ff82;
@secondaryGray:   #f2f2f2;


@brandColor:           @darkPrimaryColor;
@secondaryColor:       @darkPrimaryColor;
@lightSecondaryColor:  @secondaryTextColor;
@textColor:            @primaryTextColor;
@linkColor:            @primaryColor;



@primaryColor        : @primaryGreen;
// @secondaryColor      : @black;


@relativeBorderRadius: 0;
@absoluteBorderRadius: 0;

// @fontName          : 'Lato';
@headerFont: 'Helvetica Neue', Arial, Helvetica, sans-serif;
@pageFont: 'Helvetica Neue', Arial, Helvetica, sans-serif;

@importGoogleFonts: false;

@bold: 400;
@normal: 200;

@linkColor: @primaryGreen;
