/*******************************
         Site Overrides
*******************************/

.ui.buttons {
    &.priceSelect {
        .ui.button {
            margin: 0 .2rem.2rem;
            box-shadow: 1px 1px 1px #a5a5a5;
        }
    }
}