/*******************************
         Site Overrides
*******************************/

.ui.container {
    &.auth-container {
        height: 100%;
        position: fixed;
        left: 0;
        right: 0;
        z-index: 1000;
        > .ui.grid {
            height: inherit;
        }
    }

    &.action-field-container {
        display: flex;
        flex-grow: 1;
        justify-content: center;
        align-content: center;
        align-items: center;
        @media only screen and (max-width : @largestTabletScreen) {
            margin-left: 0 !important;
            margin-right: 0 !important;

            > .ui.text.container {
                max-width: 100% !important;
                margin-left: 0 !important;
                margin-right: 0 !important;
            }
        }

    }

    &.text {
        &.staticText {
            @media only screen and (max-width : @largestTabletScreen) {
                max-width: 100vw !important;
                // width: 100vw !important;
            }
        }
    }
}