/*******************************
         Site Overrides
*******************************/

.ui.header {
    &.mainHeader {
        min-height: @cornerHeight;
        background: @primaryYellow url('http://img.piterbeer.com/img/bg.png') no-repeat center top fixed;
        background-size: cover;
    }

    &.coverHeader {
        @media only screen and (max-width : @largestTabletScreen) {
            > .ui.container {
                width: 100%;
                margin-left: 0 !important;
                margin-right: 0 !important;
            }
        }
    }

    &.singleTitle {
        font-size: 3rem;
        font-weight: 200;

        .sub.header {
            word-break: break-all;
        }
    }

    &.mb-0 {
        margin-bottom: 0
    }

    &.next-skew {
        padding-bottom: @cornerHeight + @horizontalPadding;
    }

    &.sectionHeader {
        position: relative;
        font-weight: 200;
        font-size: 2rem;
        line-height: 3rem;
        padding-left: 2rem;
        margin-bottom: 2rem;

        &.lightText {
            color: @primaryYellow;

            a {
                color: inherit;
            }
        }
        &.darkText {
            color: @primaryGreen;

            a {
                color: inherit;
            }

        }
        &:before {
            content: "";
            width: 1px;
            background: #fffffc;
            position: absolute;
            top: -2rem;
            bottom: -2rem;
            left: 0;
            transform: skewX(2deg);
        }
        &:after {
            content: "";
            display: block;
            height: 1px;
            background: white;
            position: absolute;
            z-index: 100;
            width: 16rem;
            bottom: 0;
            left: -3rem;
            visibility: visible;
            @media only screen and (max-width : @largestTabletScreen) {
                width: 100%;
            }
        }
    }
}