/*******************************
         Site Overrides
*******************************/

.ui.image {
    &.compareImage {
        display: block;
        margin: 0 auto;

        .ui.table td & {
            max-width: 18rem;
        }
    }
}