/*******************************
         Site Overrides
*******************************/

.ui.input {
    >input {
        &[type="color"] {
            padding-top: 0;
            padding-bottom: 0;
            box-sizing: content-box;
            min-height: 2.6rem;
        }
    }
}