/*******************************
         Site Overrides
*******************************/

.ui.label {
    &.selfPrice,
    &.selfPrice-light {
        > .units {
            font-size: 0.9rem;
            color: @white;
            font-weight: normal;
            text-align: center;
        }
    }
    &.selfPrice {
        font-size: 1rem;
        z-index: 10;
        border-bottom: 0.1rem solid;
        color: black;
        background: rgba(0, 0, 0, 0.2);
    }
    &.selfPrice-light {
        font-size: 1.1rem;
        z-index: 10;
        border-bottom: 0.1rem solid;
        color: @primaryYellow;
        text-shadow: 1px 1px @primaryGreen;
        background: rgba(255, 255, 255, 0.2);
    }
}