/*******************************
         Site Overrides
*******************************/

.ui.segment {
    &.app-loader {
        width: 100vw;
        height: 100vh;
        > .dimmer {
            width: inherit;
            height: inherit;
            > .loader {
                outline: 1px solid red;
            }
        }
    }
    &.data-loader {
        min-height: 6rem;
    }
    &.skew-block {
        position: relative;
        margin-top: 0;
        &--white {
            background: #ffffff;
            fill: #ffffff;
            // color: @primaryGreen;
        }
        &--green {
            background: @primaryGreen;
            fill: @primaryGreen;
            color: rgb(46, 45, 45);
        }
        &--gray {
            background: @secondaryGray;
            fill: @secondaryGray;
        }
        &--yellow {
            background: @primaryYellow;
            fill: @primaryYellow;
        }
        &--lightYellow {
            background: @secondaryYellow;
            fill: @secondaryYellow;
        }
        .headerCorner {
            position: absolute;
            top: -1 * @cornerHeight;
            left: 0;
            right: 0;
            display: block;
        }
        > svg {
            path {
                fill: inherit !important;
            }
        }

        .ui.cards {
            &.three {
                .ui.card {
                    margin-bottom: 2rem;
                    &:nth-child(3n+1) {
                        position: relative;
                        top: 0;
                    }
                    &:nth-child(3n+2) {
                        position: relative;
                        top: -33px;
                    }
                    &:nth-child(3n+3) {
                        position: relative;
                        top: -66px;
                    }
                }
            }
            &.four {
                .ui.card {
                    margin-bottom: 2rem;
                    &:nth-child(4n+1) {
                        position: relative;
                        top: 0;
                    }
                    &:nth-child(4n+2) {
                        position: relative;
                        top: -33px;
                    }
                    &:nth-child(4n+3) {
                        position: relative;
                        top: -66px;
                    }
                    &:nth-child(4n+4) {
                        position: relative;
                        top: -99px !important;
                    }
                }
            }
            &.doubling {
                > .ui.card {
                    @media only screen and (max-width : @largestTabletScreen) {
                        position: static !important;
                        top: 0 !important;
                        margin-bottom: auto;
                    }
                }
            }
        }
    }

    &.landingCover {
        min-height: 100vh;
        background: @primaryGreen url('http://img.piterbeer.com/img/bg.png') no-repeat center center fixed;
        background-size: cover;

        display: flex;
        flex-direction: column;
    }

    &.mb-0 {
        margin-bottom: 0
    }

    &.next-skew {
        padding-bottom: @cornerHeight; //  + @horizontalPadding;
    }

    &.admin-page-header {
        margin-top: 2.8rem;
        background: @primaryColor;
    }

}