/*******************************
         Site Overrides
*******************************/


.ui.form {

    .grouped.fields {
        &.inline-grouped {
            display: flex;
            flex-wrap: wrap;
        }
    }
}