/*******************************
         Site Overrides
*******************************/

.ui.grid {
    .column {
        &.filtersCol {
            display: flex;
            flex-direction: column;
            justify-content: stretch;

            >.ui.divider {
                flex-grow: 1;
            }
            .keywordContainer {
                display: none;
            }

        }
        &.listFiltersCol {
            position: relative;
            top: -66px;
            background: rgba(255, 255, 255, 0.2);
        }
    }
}