/*******************************
         Site Overrides
*******************************/

.ui.menu {
    &.headerMenu {
        position: relative;
        &:before {
            content: "";
            width: 1px;
            background: #fffffc;
            position: absolute;
            top: 0rem;
            bottom: -3rem;
            left: 4rem;
            transform: skewX(2deg);
            @media only screen and (max-width : @largestTabletScreen) {
                left: 0;
            }

        }
        &:after {
            content: "";
            display: block;
            height: 1px;
            background: white;
            position: absolute;
            z-index: 100;
            width: 100vw;
            bottom: 0;
            visibility: visible;
            @media only screen and (max-width : @largestTabletScreen) {
                width: auto;
                left: 1vw;
                right: 0;
            }
        }
        .header.item {
            flex-direction: column;
            margin-left: 5rem;
            align-items: start;
            @media only screen and (max-width : @largestTabletScreen) {
                margin-left: 0;
            }

            .logo {
                font-size: 42px;
                font-weight: 200;
                color: @primaryGreen;
                display: block;
            }
            .slogan {
                font-size: 18px;
                font-weight: 200;
                color: @primaryGreen;
                display: block;
                line-height: 1.8;

                @media only screen and (max-width : @largestTabletScreen) {
                    font-size: 14px;
                }

            }
        }
    }
    &.mainMenu {
        &.secondary.inverted {
            > .siteMenu {
                position: relative;
                flex-wrap: wrap;

                &:before {
                    content: "";
                    width: 1px;
                    background: #fffffc;
                    position: absolute;
                    top: -3rem;
                    bottom: -3rem;
                    left: 0;
                    transform: skewX(2deg);
                }
                &:after {
                    content: "";
                    display: block;
                    height: 1px;
                    background: white;
                    position: absolute;
                    z-index: 100;
                    width: 100vw;
                    bottom: 0;
                    left: -3rem;
                    visibility: visible;
                }
                a.item, .dropdown .text {
                    color: @primaryGreen !important;
                    text-transform: uppercase;
                    font-weight: 400;
                    font-size: 1.1rem;
                    &:hover {
                        color: white !important;
                        text-shadow: 1px 1px 1px @primaryGreen;
                    }
                }

                @media only screen and (max-width : @largestTabletScreen) {
                    // display: none !important;
                    &:before, &:after {
                        content: none;
                    }
                    .item {
                        padding-left: 0.3rem;
                        padding-right: 0.3rem;
                        > span.caption {
                            display: none;
                        }
                    }
                }
            }


        }
        &.innerMenu {
            transform: translateY(1rem);

            .logo {
                font-size: 42px;
                font-weight: 200;
                color: @primaryGreen;
                display: block;
            }
        }

        &.footerMenu {
            .right.menu {
                &:before {
                    bottom: -1rem !important;
                }
                .item {
                    color: @primaryGreen !important;
                }
                @media only screen and (max-width : @largestTabletScreen) {
                    display: block;
                    .item {
                        display: inline;
                        max-width: auto;
                        &.header {
                            text-transform: uppercase;
                            font-weight: 600 !important;
                        }

                        display: inline-block;
                        max-width: min-content;
                        white-space: nowrap;
                    }
                }

            }

            .copyright {
                text-align: right;
                display: block;
                color: #000;
            }
        }

    }
}


/*******************************
         Site Overrides
*******************************/

@width: 260px;

.ui.menu {
    &.siteMenu {
        z-index: 110;

        .header.item {
            max-width: ~"calc(100% - 3rem)";
            // background: darken(@brandColor, 5);
            // width: @width;
            font-size: 1.4rem;
            justify-content: center;
            border-left: none !important;

            @media only screen and (max-width: @largestMobileScreen) {
                width: auto;
            }
        }
    }

    &.pageMenu {
        z-index: 110;
    }

    &.adminMenu {
        border-bottom: 1px solid @brandColor;
    }

    .item {
        &::before {
            content: none;
        }

        &.header {
            max-width: ~"calc(100% - 60px)";
        }
    }
}