/*******************************
         Site Overrides
*******************************/


.ui.table {
    &.basic {
        &.compareTable {
            thead {
                th {
                    .ui.header {
                        font-weight: 400;
                        font-size: 1.8rem;
                    }
                }
            }
            tbody {
                tr {
                    border-bottom: none;
                    th {
                        padding-left: .4rem !important;
                        font-size: 1.1rem;
                        font-weight: 300;
                    }
                    th, td {
                        border-top: 0;
                    }
                    &.active, th.active, td.active {
                        background: rgba(255,255,255,0.3) !important;
                        box-shadow: inset 0 -3px 0px 0px @primaryYellow;
                    }
                }
            }
        }
    }
}
