/*******************************
        User Overrides
*******************************/
.block-labels {
    .ui.multiple.dropdown {
        > .ui.label {
            display: block;
        }
    }
}