/*******************************
         Site Overrides
*******************************/

.pushable {
    // min-height: 100vh;
}

.ui.visible.right.overlay.sidebar {
    @media only screen and (max-width : @largestTabletScreen) {
        background-image: linear-gradient(90deg, rgba(0, 0, 0, .2) 0%, rgba(0, 0, 0, 0.0) 100%);
        border-radius: 1rem 0 0 0 !important;
        border-left: 1px solid rgb(255, 255, 255);
    }
}