/*******************************
    User Variable Overrides
*******************************/

.ui.card {
    position: relative;

    &.beerCard {
        background: none !important;

        .ui.statistic {
            margin-top: 0;
            opacity: .7;
        }

        > a {
            height: 200px;
            width: auto;
            > img {
                max-width: 100%;
                max-height: 100%;
                height: 100%;
                object-fit: contain;
            }
        }
    }

    &.locationCard {
        background: none !important;
    }

    &.brandCard {
        background: none !important;
    }

    .rating-container {
        text-align: center;
            transform: scale(0.9);
            margin: 0.6rem 0 0.2rem;
        svg {
            path {
                fill: @primaryColor;
            }
        }

        @media only screen and (max-width : @largestTabletScreen) {
            display: none;
        }

    }
    .ui.button {
        &.circular.compare {
            position: absolute;
            top: 1.6rem;
            right: 0.6rem;
            z-index: 100;
            cursor: pointer;
            border-radius: 10rem !important;
            width: auto !important;
            background: @white !important;
        }
    }
    .wp-r {
        font-size: 1rem !important;
        * {
            font-size: 1rem !important;
        }
    }

    &.action-field {
        box-shadow: none;
        border: none;
        background: rgba(255,255,255,.8);
        .header {
            .ui.input {
                font-weight: 200;
                font-size: 1.4rem;
                border: none;
                box-shadow: none;
                outline: none !important;

                > input {
                    outline: none !important;
                    border: none !important;
                    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
                    background: rgba(248, 253, 87, 0.6);
                    font-weight: 200;
                    font-size: 1.5rem;
                    }
                > .icon {
                    background-color: @primaryColor !important;
                    pointer-events: all;
                }
            }
        }
    }

    .content {
        @media only screen and (max-width : @largestMobileScreen) {
            .label.brand {
                font-size:  0.7rem !important;
            }
        }

        .header {
            font-size: 1.6rem !important;
            font-weight: 400 !important;
            text-align: center;

            @media only screen and (max-width : @largestTabletScreen) {
                font-size: 1.6rem !important;
            }


            @media only screen and (max-width : @largestMobileScreen) {
                font-size: 1.2rem !important;
            }



            &.smallHeader {
                font-size: 1.4rem !important;
            }


        }

        &.extra {
            border-top: none;
        }

        &.light {
            * {
                color: white !important;
            }
            .meta, .description {
                color: rgba(255,255,255, .6) !important;
                font-size: .9rem;
            }
            .description {
                text-align: left;
            }
        }

    }

    > .content {

        @media only screen and (max-width : @largestTabletScreen) {
            padding: 0 1em 1em  !important;

            .ui.statistic {
                margin-top: 0.2rem;
            }
        }

    }
    > a {
        padding: 0 2rem 1rem;
        @media only screen and (max-width : @largestTabletScreen) {
            padding: 0 0rem 1rem;
        }
        > .image {
            background: none !important;
        }
    }


    .no-brand {
        .brand {
            display: none !important;
        }
    }

    .no-address {
        .address {
            display: none !important;
        }
    }

    .no-description {
        .description {
            display: none !important;
        }
    }

    .no-price {
        .price {
            display: none !important;
        }
    }
}
