/*******************************
    User Variable Overrides
*******************************/
.ui.statistics .statistic > .value, .ui.statistic > .value {
    @media only screen and (max-width: @largestMobileScreen) {
        font-weight: 400 !important;
        font-size: 1.3rem !important;
    }
}