@import '../../../../../node_modules/react-widgets/lib/less/react-widgets';

@font-path: '/react-widgets/lib/fonts';
@img-path: '/react-widgets/lib/img';

.ui.form .fields .field .ui.input .rw-datetime-picker input,
.ui.form .field .ui.input .rw-datetime-picker input {
    width: 100%;
}

.rw-widget >.rw-widget-container {
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.3);
    // border: 1px solid #fff;
    border-color: transparent;

    input {
        height: 35px !important;
        border: none !important;
        box-shadow: none !important;
    }
}
